.react-resizable-handle {
  display: block;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
}
.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-resizable-handle-s {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: '';
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  cursor: col-resize;
  background-image: '';
}
